*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root{
  --bg-color: #4f3838;
  --text-color: #fff;
  --second-color:#5a7184;
  --main-color:#6e54fa;
  --p-font:1.1rem;
  --clr1:#4f0896;
  --clr2:#bfff45;
}
body.active{
  --bg-color: #0f0c27;
  --text-color: #fff;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 15px 18%;
  transition: ease .40s;
}
.logo{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text-color);
}
.navbar{
  display: flex;
}
.navbar a,i {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
}
.navbar a:hover{
  background: var(--text-color);
  color: black;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}
header li.active{
  background-color: #3f51b5;
  
}
header li.active a{
  color: #fff;

}
#menu-icon{
  color: var(--text-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.darkmode{
  font-size: 23px;
  cursor: pointer;
}
  .background {
    height: 400px;
    background-color:  #f3f4f6;
    position: relative;
    margin-top: 4.8rem;
    margin-bottom: 5rem;
  }

  @property --a{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes animate{
    0%{
      --a:0deg;
    }
    100%{
      --a:360deg;
    }
  }
  
  .background .image {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* border: 8px solid; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    overflow: hidden;
  }
  .background .ok{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    background: repeating-conic-gradient(from var(--a), var(--clr1) 0%, var(--clr1) 5%,
    transparent 5%, transparent 60%, var(--clr1) 100%);
    animation: animate 4s linear infinite;
  }
  .background .ok::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), var(--clr2) 0%, var(--clr2) 5%,
    transparent 5%, transparent 60%, var(--clr2) 100%);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
    border-radius: 50%;
  }
  .background .ok::before{
    content: '';
    position: absolute;
    inset: -5px;
    background:;
    /* background: black; */
    border-radius: 50%;
  }
  
  .background img {
    width: 100%;

  }
  
  .content {
    max-width: 600px;
    padding: 1rem;
    margin: auto;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    color:  #fff;
  }
  
  .subtitle {
    margin-bottom: 2rem;
    color:  #a29c9c;
  }
  
  .read__more {
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
  }
  .heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 3rem;
    padding: 1rem;

  }
  .heading span{
    color: var(--second-color);
  }
  .about{
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
   

  }
  .about .row .info{
    padding-right: 6rem;
   
  }
  .about .row .info h3{
    font-size: 2rem;
    color: var(--second-color);
    font-weight: normal;
  }
  .about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;
  }

  .about .row .button{
    color: var(--second-color);
    font-weight: normal;
    height: 5rem;
  }


  













































  @media (max-width:1400px){
    header{
        padding: 17px 3%;
        transition:  .2s;
    }
    header.sticky{
        padding: 10px 3%;
        transition:  .2s;
    }
    
    :root{
        --big-font:4.5rem;
        --h2-font: 2.3rem;
        --p-font:1rem;
        transition:  .2s;

    }
}

@media (max-width:1040px){
  #menu-icon{
      display: block;
  }
  .sticky #menu-icon{
      color: var(--text-color);
  }
  .home{
      height: 88vh;
  }
  .navbar{
      position: absolute;
      top: 0;
      right: -100%;
      width: 270px;
      height: 120vh;
      background: #1067cc;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 30px;
      transition:  0.5s all;
  }
  .navbar a{
      display: block;
      margin: 1.2rem 0;
  }
  .sticky .navbar a{
      color: var(--bg-color);
  }
  .navbar a:hover{
      color: var(--text-color);
  }
  .open{
      right: 0;
  }
  
}

@media screen and (width < 500px) {
    .background {
      height: 300px;
      margin-bottom: 3rem;
    }
  
    .background .image {
      height: 300px;
      width: 300px;
    }
  
    .title {
      font-size: 2.5rem;
    }
  }